/**
 * Global: Base Styles.
 * -----------------------------------------------------------------------------
 */
html, body {
  font-family: __variable_ccafe3, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-body);
  height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  width: 100%;
  line-height: var(--body-line-height);
}

#app {
  color: #2c3e50;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: __variable_ccafe3, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}