/**
 * Global: Typography.
 * -----------------------------------------------------------------------------
 */
h1 {
  font-size: 2em;
  font-weight: var(--font-weight-heading);
  letter-spacing: -1.25px;
  margin: 0 0 var(--spacing-m) 0;
  word-break: break-word;
  font-family: __variable_ccafe3, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
  font-size: 1.5em;
  font-weight: var(--font-weight-body);
  letter-spacing: -0.5px;
  margin: 0;
  word-break: break-word;
  font-family: __variable_ccafe3, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: __variable_ccafe3, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}